
.header, .nav, .main, .sideber, .advertise, .footer{

    background-color: rgb(243, 212, 174);
    border: 2px solid rgb(241, 108, 85);
}

.header{
    grid-area:header;
    padding-left: 15px;
}

.nav{
    grid-area:nav;
    padding-right:70px;
}

.main{
    grid-area:main;
    padding:10px;
}

.sideber{
    grid-area:sideber;
    padding:50px;
}

.advertise{
    grid-area:advertise;
    padding:50px;
   
}

.footer{
    grid-area:footer;
    padding-left: 15px;
}

.container{
    display:grid;
    gap:20px;
    grid-template-areas:
    "header header header  header "
    "nav    main   main    sideber"
    "nav    main   main    advertise"
    "footer footer footer  footer" 
    ;  
}

.nav ul li{
    list-style:none;
    
}


@media screen and (max-width:576px) {

    .container{
          grid-template-areas: 
          "header"
          "nav"
          "main"
          "sideber"
          "advertise"
          "footer"
          ;      
    }
    
}


@media screen and (min-width:576px) and (max-width:992px) {
    .container{
        grid-template-areas:
        "header header header"
        "nav    nav    nav "
        "sideber main main"
        "advertise footer footer"
    ;
    }
}
